
body{
    background-color: blueviolet;
    text-align: center;
}

.main{
    background-color: white;
    width: 40%;
    margin: 10px auto;
    border-radius: 6px;
    height: 450px;
    padding: 10px 0 10px 0;
}  

header{
    background-color: blueviolet;
    color: white;

}
fieldset{
    height: 320px;
    width: 70%;
    margin: 15px auto 0 auto;
}
.resultado{
    text-align: left;
    margin: 0 auto 20px 60px;
}